<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left">
    		&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> | <a href="http://www.miitbeian.gov.cn/">蜀ICP备17038410号</a>  
    	</div>
      	<div class="footer-right">
      		<p>“唯有爱与科技不可辜负”</p>
      	</div>
    </div>
  </div>
</footer>